    <footer class="site-footer clearfix">
        <section class="copyright"><a href="">{{.Site.Title}}</a> {{.Site.Copyright | safeHTML}}</section>
        {{if ne .Site.Params.hideHUGOSupport true}}
    {{end}}
    </footer>
    </div>
    <script type="text/javascript" src="{{"js/jquery.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/jquery.fitvids.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/index.js" | relURL}}"></script>
    {{ if .Site.Params.customFooterPartial }}
        {{ partial .Site.Params.customFooterPartial . }}
    {{ end }}
</body>
</html>
